{% extends 'base.html' %}
{% load cloudinary %}

{% block content %}
<div class="product-detail-page">
  <div class="product-image-section">
    {% cloudinary product.image width=1000 height=700 crop="fill" class="product-image" alt=product.name %}
  </div>

  <div class="product-details-section">
    <h1>{{ product.name }}</h1>
    <p class="product-price">${{ product.price }}</p>
    <p class="product-stock">
      {% if product.stock > 0 %}
        {{ product.stock }} in stock
      {% else %}
        <span class="out-of-stock">Out of Stock</span>
      {% endif %}
    </p>
    <p class="product-description">{{ product.description }}</p>
    <p>Seller: {{ product.seller.username }}</p>
    <div class="actions">

      <form method="post" action="{% url 'add-to-cart' product.id %}">
        <a href="{% url 'single-product-checkout' product.pk %}" class="btn btn-buy">Buy Now</a>
        {% csrf_token %}
        <button type="submit" class="btn btn-add-to-cart">Add to Cart</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
