{% extends 'base.html' %}
{% load cloudinary %}

{% block content %}
<div class="dashboard">
    <h1>Available Products</h1>

    {% if products %}

    <div class="products-grid">
        {% for product in products %}
        <div class="product-card">
            <a href="{% url 'product-detail' product.id %}">{% cloudinary product.image width=300 height=300 crop="pad" %}</a>
            <h2>{{ product.name|truncatechars:"16" }}</h2>
            <p>${{ product.price }}</p>

            {% if product.stock %}
            <p>{{ product.stock }} in stock</p>
            {% else %}
            <p>Out of stock</p>
            {% endif %}
            
            <form action="{% url 'add-to-cart' product.id %}" method="post" class="product-actions">
                {% csrf_token %}
                <button type="submit" class="btn add-to-cart-btn">Add to Cart</button>
                <a href="{% url 'product-detail' product.id %}" class="btn view-detail-btn">View Detail</a>
            </form>

        </div>
        {% endfor %}
    </div>

    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">&laquo; Previous</a>
        {% endif %}

        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next &raquo;</a>
        {% endif %}
    </div>
    {% else %}

    <p>No products available at the moment. Check back later!</p>
    {% endif %}
</div>
{% endblock %}
